body {
    background-color: #001524;
    padding-top: 65px; 

}

#apod-header {
    color: white;
}

/* #content-div {
    background-color: rosybrown;
} */

#content {
    background-color: royalblue;
    height: 100%;
}

#star-moon-fa {
    color: purple;
}

#star-fa {
    color: yellow;
}

#moon-fa {
    color: #9649cb;
}

#sun-fa {
    color: #afbbf2;
}

#navigator {
    background-color: #15616D;
    margin-bottom: 5%;
}

#navigator-link {
    margin: 2%;
    /* background-color: violet; */
    color: white;
}

#tester-div {
    background-color: tomato;
    
}
/* #image {

    
} */

/* #copyright {
    padding-left: 1%;
} */

@media (min-width: 576px) {
    #image {
        width: 55%;
    }
}

#image-div {
    max-width: 50%;
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

#jumbo {

    /* background-color: tomato; */
    background-color: #FFECD1;
}

#jumbo-div {
    background-color: turquoise;
}

#image-explanation {
    color: white;
    padding: 10%;
}

