body {
    background-color: #001524;
    padding-top: 65px; 

}

#apod-header {
    color: white;
}

/* #content-div {
    background-color: rosybrown;
} */

#content {
    background-color: royalblue;
    height: 100%;
}





#img-title {
    color: #C8CBCD;
    
}

#title-div{
    /* background-color: aqua; */
    color: white;
}

#star-moon-fa {
    color: purple;
}

#star-fa {
    color: yellow;
}

#moon-fa {
    color: #9649cb;
}

#sun-fa {
    color: #afbbf2;
}

#navigator {
    background-color: #15616D;
    margin-bottom: 5%;
}

#navigator-link {
    margin: 2%;
    /* background-color: violet; */
    color: white;
}


@media (min-width: 700px) {
    
   
    #video {
        max-width: 40%;
    }

}

#description {
    background-color:#00243D;
    padding: 2%;
    border-radius: 15px;
    margin-top: 5%;
    height: 60%;
    overflow: scroll;
}

#img-desc {
    color: #E1E6E9;
}