{% extends 'bootstrap/base.html' %}

{% block title%}
{% if title %}
<!-- Defines the title in bootstrap html if there is one defined from script -->
APOD - {{ title }}
{% else %}
<!-- Default title -->
APOD Navigator
{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="nav-bar navbar-default">
        <p>APOD Navigator: </p>
        <!-- function to get an image that iterates - 1 day 
        showing the previous day than current index -->
        <a href="#">And Beyond...</a>
        <a href="#">Yesterday</a>
        <a href="#">Today</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block date %}{% endblock %}
        {% block image %}{% endblock %}
        {% block description %}{% endblock %}
    </div>
{% endblock %}
