<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>APOD - {{ title }}</title>
        {% else %}
        <title>APOD</title>
        {% endif %}
    </head>
    <body>
     <div>
        <nav>
            <p>APOD Navigator: </p>
            <a href="#">Today</a>
            <a href="#">Yesterday</a>
        </nav>
        {% block title%}{% endblock %}
        {% block date %}{% endblock %}
        {% block image %}{% endblock %}
        {% block description %}{% endblock %}
    </div>
    </body>
</html>